/* HomePage.css */

body {
    background-color: #f0f0f0;
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .game_card {
    width: 400px; /* Set your desired fixed width */
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 20px; /* Add margin for better spacing */
  }
  
  h1 {
    color: #333;
  }
  
  button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 15px;
    font-size: 16px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  input {
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  p {
    color: #333;
  }
  
  .pixelated {
    image-rendering: pixelated;
    width: 100%; /* Make the image fill its container */
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  /* HomePage.css */

/* ... (previous styles) */

.result-text {
    font-size: 18px;
    margin-top: 15px;
  }
  
  .correct {
    color: #4caf50; /* Green for correct guesses */
  }
  
  .partially-correct {
    color: #ffc107; /* Yellow for partially correct guesses */
  }
  
  .wrong {
    color: #e74c3c; /* Red for wrong guesses */
  }
  
  .empty-input {
    border: 2px solid #e74c3c; /* Red border for empty input */
  }